html {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 87.5%;
  font-family: Helvetica, sans-serif;
  background-color: black;
}

.container {
  text-align: center;
}

.container h3 {
  color: #fff;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  cursor: default;
}

.container h5 {
  color: #fff;
  margin-top: 10px;
  cursor: default;
}

.container a {
  color: black;
  text-decoration: none;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 5px 0px 5px 0px;
  position: relative;
  margin-right: 6px;
  margin-left: 4px;
}

.container a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.45s ease 0s, left 0.45s ease 0s;
  width: 0;
}

.container a:hover {
  opacity: 0.95;
}

.container a:hover:after {
  width: 100%;
  left: 0;
}

.container a .icons {
  width: 3.8vh;
}

.footer {
  position: absolute;
  color: #fff;
  opacity: 0.8;
  letter-spacing: 0.05em;
  bottom: 0px;
  right: 25px;
  width: 15.4vw;
  cursor: default;
  text-align: right;
  border-bottom: solid 1px #555555;
}

.footer h5 a {
  color: #fff;
  opacity: 0.55;
  text-decoration: none;
}

.footer h5 a:hover {
  opacity: 1;
}
